{erl_opts, [warnings_as_errors]}.
{deps, [
  {jiffy, ".*",     {git, "git://github.com/davisp/jiffy",
    {tag, "54a9505f2629a61110ad953e051e88676bd990d6"}}},
  {lhttpc, ".*",    {git, "git://github.com/esl/lhttpc.git",
    {tag, "3c7fdeee241b6813efddcb08ad1697186780d385"}}},
  {jsonq, ".*",     {git, "git://github.com/kato-im/jsonq.git",
    {tag, "42175b7a58d2ca916069e11f9d0877f8fceb3ec3"}}}
]}.
